<%= render "navbar" %>

<div id="banner">
  <div id="banner-text">
    <h1>Watch List Manager</h1>
    <p>Never miss a good movie again</p>
  </div>
</div>

<div class="container">

    <h1>Your lists</h1>

<div class="container">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-3">
        <%= link_to list.name, list_path(list), class: "card text-decoration-none" %>
    </div>
    <% end %>
  </div>
</div>

    <h3>Add a new list</h3>

    <%= simple_form_for(@list) do |f|%>
      <%= f.input :name %>
      <%= f.submit %>
    <% end %>
</div>
