<%= render "navbar" %>

<div id="banner">
  <div id="banner-text">
    <h1>Watch List Manager</h1>
    <p>Never miss a good movie again</p>
  </div>
</div>

<div class="container">

    <h1>Your lists</h1>

<% if !List.all.empty? %>
  <div class="container">
    <div class="row">
      <% @lists.each do |list| %>
          <div class="col-3">
              <%= link_to list.name, list_path(list) %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>



    <h3>Add a new list</h3>

    <%= simple_form_for(@list) do |f|%>
      <%= f.input :name %>
      <%= f.input :photo, as: :file %>
      <%= f.submit %>
    <% end %>
</div>
