<div class="container">
  <h1><%= @list.name %></h1>

  <% if @list.bookmarks.empty? %>
    <p>You haven't added any movie yet!</p>
  <% else %>
    <%= render "lists/bookmark_list", bookmarks: @list.bookmarks, list: @list %>
  <% end %>

  <div class="form-container">
    <h3>Add a movie to this watch list</h3>
    <%= render "lists/bookmark_form", list: @list, bookmark: @bookmark %>
  </div>

  <div class="links">
    <%= link_to "Back to my lists", root_path, class: "btn btn-secondary" %>
    <%= link_to "Delete this list", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn destroy-btn" %>
  </div>
</div>
